@use '../../index.scss' as index;
@use '../../sass/abstracts/mixins' as *;

.colorsContainer {
  @include flex-center(flex-start);
  // display: flex;
  // justify-content: flex-start;
  flex-wrap: wrap;

  gap: 1rem;
}

.title {
  color: index.$dark-blue;
  font-weight: 100;
  margin: 1rem 0;
}
