
@use '../../sass/abstracts/mixins' as *;
@use  "../../sass/abstracts/colors" as colors;


.colorsContainer {
  @include flex-center(flex-start);
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  color: colors.$dark-blue;
  font-weight: 100;
  margin: 1rem 0;
}


