@use '/src/sass/abstracts/colors';
@use '/src/sass/abstracts/mixins' as *;
.titles {
  @include flex-center(flex-start);
    color: colors.$dark-blue;
    margin:  0.5rem 0;
    font-weight: 100;
  }

.titles span {
  padding-left: 1rem;
}
  @media only screen and (max-width:610px){
    .titles {
      margin: 3px 0 ;
    }
  }