.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* margin: 1rem; */
  gap: 1rem;
}

.imageContainer {
  margin: 3rem 1rem 1rem;
  width: 40%;
  min-width: 250px;
}

hr {
  border: 0.5px solid lightgray;
}

.dataContainer {
  width: 50%;
  padding: 1rem;
}

.dataContainer div span {
  color: rgb(238 49 131);
}
.titles {
  color: black;
  margin:  0.5rem 0;
  font-weight: 100;
}
.image {
  height: auto;
  width: 100%;
  box-shadow: 0 2px 10px rgb(219, 219, 219);
  border-radius: 10px;
}

.h1 {
  font-size: 2rem;
  border-bottom: rgb(188, 187, 187) solid 1px;
  padding-bottom: 1.5rem;
}

.containerPrice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

.button {
  background-color: rgb(235, 235, 235);
  border: 0 none white;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  color: rgb(238 49 131);
  box-shadow: 0 2px 10px rgb(219, 219, 219);
  transition: all 0.2s ease;
  /* box-shadow: 0 1px 5px rgb(84, 84, 84); */
}
.button:hover {
  cursor: pointer;
  background-color: rgb(238 49 131);
  color: white;
}


@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    
  }
.image {
  width: 80%;
}
  .imageContainer {
    width: 90%;
  }
  .dataContainer {
    width: 100%;
  }
  .containerPrice {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}