.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* margin: 1rem; */
  gap: 1rem;
}

.alert {
  visibility: hidden;
  transition: all 0.5s linear;
  padding: 1rem;
  color: white;
  top: 70px;
  right: 15px;
  z-index: 3;
  position: fixed;
  height: 100px;
  width: 230px;
  background-color: rgba(89, 207, 89,0.9);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  opacity: 0;
}

.alert.active {
  transition: all 0.5s linear;
  visibility: visible;
  opacity: 1;
}
.imageContainer {
  margin: 3rem 1rem 1rem;
  width: 40%;
  min-width: 250px;
}

hr {
  border: 0.5px solid lightgray;
}

.dataContainer {
  width: 50%;
  padding: 1rem;
}

.dataContainer div span {
  color: #ee3183;
}

.image {
  height: auto;
  width: 100%;
  box-shadow: 0 2px 10px rgb(219, 219, 219);
  border-radius: 10px;
}

.h1 {
  font-size: 2rem;
  border-bottom: rgb(188, 187, 187) solid 1px;
  padding-bottom: 1.5rem;
}

.containerPrice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}

.button {
  background-color: rgb(235, 235, 235);
  border: 0 none white;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  color: rgb(238 49 131);
  box-shadow: 0 2px 10px rgb(219, 219, 219);
  transition: all 0.2s ease;
  /* box-shadow: 0 1px 5px rgb(84, 84, 84); */
}
.button:hover {
  cursor: pointer;
  background-color: rgb(238 49 131);
  color: white;
}


@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  .alert {
    top: 10px;
    height: 30px;
    border-radius: 5px;
    padding: 1rem 0;
  }
.image {
  width: 80%;
}
  .imageContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .dataContainer {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
  }
  .dataContainer h1 {
    padding: 0 0 1rem 0;
    margin: 0;
  }
  .containerPrice {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}