
@use '../../sass/abstracts/mixins' as *;
@use '../../sass/abstracts/colors';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
}

.alert {
  @include flex-center(flex-start);
  padding: 1rem;
  color:colors.$white;
  top: 70px;
  right: 15px;
  z-index: 3;
  position: fixed;
  height: 100px;
  width: 230px;
  background-color: colors.$green;
  border-radius: 15px;
  gap: 0.5rem;
}

.imageContainer {
  margin: 3rem 1rem 1rem;
  height: fit-content;
  padding: 1rem;
  width: 40%;
  min-width: 250px;
  box-shadow: 0 2px 10px colors.$light-gray;
  border-radius: 10px;
}

hr {
  border: 0.5px solid colors.$light-gray;
}

.dataContainer {
  width: 50%;
  padding: 1rem;
  div span {
    color: colors.$magenta-color;
  }
}


.image {
  height: auto;
  width: 80%;
}

.h1 {
  font-size: 2rem;
  border-bottom: solid 1px colors.$light-gray;;
  padding-bottom: 1.5rem;
}

.containerPrice {
  @include flex-center(flex-start);
  flex-wrap: nowrap;
  gap: 2rem;
  h3 {
    color:colors.$dark-blue;
  }
}

.button {
  @include flex-center(center);
  background-color: colors.$light-gray;
  border: 0 none colors.$white;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  color: colors.$magenta-color;
  box-shadow: 0 2px 10px colors.$light-gray;;
  transition: all 0.2s ease;
  &:hover {
    cursor: pointer;
    background-color: colors.$magenta-color;
    color: colors.$white;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }
  .alert {
    top: 10%;
    height: 60px;
    border-radius: 5px;
    padding: 1rem 0;
  }
.image {
  width: 80%;
}
  .imageContainer {
    margin: 1rem 1rem;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .dataContainer {
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    h1 {
      font-size: larger;
      padding: 0 0 1rem 0;
      margin: 0;
    }
  }

  .containerPrice {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}