@use '../../index.scss' as index;
@use '../../sass/abstracts/mixins' as *;

.storageContainer {
  @include flex-center(flex-start);
  // display: flex;
  // justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.title {
  color: index.$dark-blue;
  font-weight: 100;
  margin: 1rem 0;
}

.storageContainer div:hover {
  cursor: pointer;
}

