.itemContainer {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  align-content: center;
  width: 100%;
}

.itemContainer h3 {
  width: 60%;
  color: darkgray;
}

.cartImage {
  height: auto;
  width: 5rem;
}

.amountContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  gap: 1rem;
}

.amountContainer button {
  background-color: white;
  border: none;
}

@media only screen and (max-width: 500px) {
  .itemContainer {
    justify-content: space-between;
    gap: 0.2rem;
  }

  .itemContainer h3 {
    width: 50%;
    font-size: small;
    padding-right: 2rem;
    color: darkgray;
  }
}
