@use "../../sass/abstracts/mixins" as *;
@use "../../sass/abstracts/colors";

.itemContainer {
  @include flex-center(space-around);
  gap: 1rem;
  width: 100%;
  border-bottom: solid 1px colors.$light-gray;
  padding: 0.7rem 0.5rem;
}
.itemContainer > p {
  width: 8%;
  padding-right: 1rem;
}

.buttonContainer {
  @include flex-center(center);
  gap: 0.5rem;
}
.dataContainer {
  @include flex-center(flex-start, column);
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0.1rem;
  h3,
  p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: 100;
    font-size: 1rem;
  }
  p {
    color: colors.$gray;
    font-size: 0.8rem;
  }
}

.itemContainer > p {
  font-size: 0.9rem;
}

.cartImage {
  height: auto;
  width: 5rem;
}

.amountContainer {
  @include flex-center(space-around);
  width: 10%;
  gap: 0.5rem;
  button {
    background-color: colors.$white;
    border: none;
  }
}


@media only screen and (max-width: 500px) {
  .itemContainer {
    justify-content: space-between;
    padding: 0.1rem;
    gap: 0.1rem;
    h3 {
      font-size: small;
      padding-right: 2rem;
    }
  }
  .itemContainer > p {
    width: 40px;
    font-size: small;
    padding-right: 0.2rem;
  }
  .cartImage {
    height: auto;
    width: 4rem;
  }
  .buttonContainer {
    gap: 0.3rem;
  }
  .dataContainer {
    max-width: 75px;
    gap: 0.2rem;
    h3 {
      font-size: small;
      padding: 0.2rem;
    }
    p {
      font-size: x-small;
      padding: 0.2rem;
    }
  }
}
