@use '../../index.scss' as index;
@use '../../sass/abstracts/mixins' as *;


.itemContainer {
  @include flex-center (flex-start);
  // display: flex;
  // align-items: center;
  // align-content: center;
  // justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.itemContainer h3 {
  width: 60%;
  color: index.$dark-blue;
  font-weight: 100;
}

.cartImage {
  height: auto;
  width: 5rem;
}

.amountContainer {
  @include flex-center (space-around);
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  width: 10%;
  gap: 1rem;
}

.amountContainer button {
  background-color: white;
  border: none;
}

@media only screen and (max-width: 500px) {
  .itemContainer {
    justify-content: space-between;
    gap: 0.2rem;
  }

  .itemContainer h3 {
    width: 50%;
    font-size: small;
    padding-right: 2rem;
  }
}




