@use "../../sass/abstracts/mixins" as *;
@use "../../sass/abstracts/colors";

.select {
  height: 2rem;
  width: 80%;
  font-size: medium;
  border-radius: 5px;
  margin: 1rem 0;
}

.orderButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 5rem;
  margin: 1rem 0;
  height: 2rem;
  color: colors.$white;
  background-color: colors.$green;
  &:hover {
    background-color: colors.$dark-green;

  }
  &:disabled {
    background-color: colors.$white;
    padding: 0;
    font-size: 0;
    border-bottom: 3px colors.$green solid;
    border-left: 3px colors.$green solid;
    width: 40px;
    height: 15px;
    rotate: -45deg;
    border-radius: 0;
    transition: all 0.4s;
  }
}
