@use '../../sass/abstracts/mixins' as *;
@use '../../sass/abstracts/colors';

.mainContainer {
  @include flex-center(flex-start);
  margin: 0 0 1rem 0 ;
  gap: 1rem;
  img {
    width: 20%;
  }
  p {
    width: 50%;
  }
}

.priceAmount {
  display: flex;
  p {
    padding-left: 3rem;
  }
}


hr {
  color: colors.$gray;
}

@media only screen and (max-width: 500px) {
  .mainContainer {
    font-size: smaller;
    width: 100%;
    height: auto;
    align-items: center;
    img {
      width: 25%;
      height: fit-content;
    }
  }

  .priceAmount {
    width: 100%;
    p {
      padding-left: 1rem;
    }
  }

}