$white:white;
$black:black;

// GRAY
$dark-gray:#323232;
$gray:#9d9d9d;
$light-gray:rgb(218, 217, 217);

// BLUE
$dark-blue: #393954;
$blue:#006dfb;
$blue-lighter:#e0edff;
$blue-light:#83b9ff;

// MAGENTA
$magenta-color: #ee3183;
$magenta-dark:#ba2264;

// GREEN
$green:#4bb74b;
$green-lighter:#ebfdeb;
$green-light:#80ff80;

// RED
$red :#ff0000;
$red-lighter :#ffebeb;;
$red-light :#ff7f7f;
 
