$white:white;
$black:black;

$dark-gray:#323232;
$gray:#9d9d9d;
$light-gray:rgb(218, 217, 217);

$dark-blue: #393954;
$blue:#006dfb;
$blue-lighter:#e0edff;
$blue-light:#83b9ff;

$magenta-color: #ee3183;

$green:#4bb74b;
$green-lighter:#ebfdeb;
$green-light:#80ff80;

$red :#ff0000;
$red-lighter :#ffebeb;;
$red-light :#ff7f7f;
 
