@mixin flex-center ($just-cont: center,$flex-dir: row,$ali-items: center){
    display: flex;
    justify-content: $just-cont;
    flex-direction: $flex-dir;
    align-items: $ali-items;
    // align-items: center;
    // align-content: center;
}