.main {
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    gap: 2rem;
    width: 95%;
    margin: 2rem;
}

.imageContainer {
    width: 25%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: fit-content;
   
}
.imageContainer img {
    width: 100%;
}

.headerService {
    width: 75%;
}
.headerService hr {
    border: 0.2px solid lightgray;
}
.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.serviceAmountsContainer {
    padding: 0 2rem;
}

.totalAmount {
    display: flex;
    justify-content: space-between;
}
.totalAmount p {
    font-weight: 600;
}

.totalNum {
    color: magenta;
}