.main {
    display: flex;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    gap: 2rem;
    width: 95%;
    margin: 2rem;
}

.imageContainer {
    width: 30%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: fit-content;
    min-width: 250px;
   
}
.imageContainer img {
    width: 100%;
    
    padding: 1rem;
}

.headerService {
    width: 75%;
}
.headerService hr {
    border: 0.2px solid lightgray;
}
.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
}

.serviceAmountsContainer {
    padding: 0 2rem;
}

.totalAmount {
    display: flex;
    justify-content: space-between;
}
.totalAmount p {
    font-weight: 600;
}

.totalNum {
    color: rgb(238 49 131);
}

.callP {
    font-weight: 700;
    font-size: 1rem;
}
.numS{
    color: rgb(238 49 131);
}

@media only screen and (max-width: 500px) {
    .main {
        flex-direction: column;
       align-items: center;
        gap: 0;
        margin: 0.5rem;
    }
    .imageContainer {
        width: 80%;
        min-width: none;
    }
    .servicesContainer {
        gap:1rem;
    }
    .serviceAmountsContainer { padding: 0;}
   
}