
@use '../../sass/abstracts/colors';

.main {
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  gap: 2rem;
  width: 95%;
  margin: 2rem;
}

.imageContainer {
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: fit-content;
  min-width: 250px;
  img {
    width: 100%;
    padding: 1rem;
  }
}

.headerService {
  width: 75%;
  hr {
    border: 0.2px solid colors.$light-gray;
  }
}
 
.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.serviceAmountsContainer {
  padding: 0 2rem;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  color: colors.$dark-blue;
  p {
    font-weight: 600;
  }
} 

.totalNum {
  color: colors.$magenta-color;
}

.callP {
  color: colors.$dark-blue;
  font-weight: 700;
  font-size: 1rem;
}
.numS {
  color: colors.$magenta-color;
}

@media only screen and (max-width: 500px) {
  .main {
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0.5rem;
  }
  .imageContainer {
    width: 80%;
    min-width: none;
  }
  .servicesContainer {
    gap: 1rem;
  }
  .serviceAmountsContainer {
    padding: 0;
  }
}
