@use '../../sass/abstracts/colors';
@use '../../sass/abstracts/mixins' as *;


.main {
    @include flex-center(space-between);
    width: 100% ;
    border-bottom: 1px solid colors.$light-gray;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}
.name {
    font-weight: 100;
    margin: 0;
}
.price {
    color: colors.$magenta-color;
    margin:0;
}
