.main {
    width: 100% ;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}
.name {
    font-weight: 100;
    margin: 0;
}
.price {
    color: rgb(238 49 131);
    margin:0;
}
