.main {
padding: 2rem;
}

.listItems {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width:500px){
    .listItems {
        gap: 1rem;
        width: 100%;
        flex-direction: column;
    }
}
