.main {
padding: 2rem;
max-width: 1400px;
margin: 2rem;
}

.listItems {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width:500px){
    .listItems {
        gap: 1rem;
        width: 100%;
        flex-direction: column;
    }
}
