@use '../index.scss' as index;
@use '../sass/abstracts/mixins' as *;

.container {
  margin: 2vw;
  display: flex;
  flex-direction: column;
}
.container h2 {
  color: index.$dark-blue;
  align-self: center;
}

.sliderContainer {
  @include flex-center;
  // display: flex;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 610px){
  .container h2 {
    font-size: large;
    margin-bottom: 1rem;
  }
}
