
@use '../sass/abstracts/mixins' as *;
@use '../sass/abstracts/colors';



.container {
  @include flex-center(center,column);
  background-color: colors.$white;
  // padding: 2vw;
  // margin: 2vw;

}
.container h2 {
  color: colors.$dark-blue;
  align-self: center;
}

.sliderContainer {
  @include flex-center;
  width: 100%;
}

@media only screen and (max-width: 610px){
  .container h2 {
    font-size: large;
    margin-bottom: 1rem;
  }
 
}
