.main {
    margin: 1rem;
    display: block;
}

.main h1 {
    margin: 1rem 1rem 1rem 1rem ;
}

.headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.headerContainer button {
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
    padding: 1px;
    width: 8rem;
    margin: 0;
    height: 2rem;
    color:rgb(118, 117, 117);
    transition: all 0.3s linear;
}
.headerContainer button:hover {
    background-color: #ee3183;
    color: white;
}

.headerContainer button.active {
    background-color: #ee3183;
    color: white;
}