@use "../sass/abstracts/colors";
@use "../sass/abstracts/mixins" as *;
.main {
  margin: 1rem;
  display: block;
  h1 {
    margin: 1rem 1rem 1rem 1rem;
  }
}

.headerContainer {
  @include flex-center(flex-start);
  gap: 0.5rem;
  button {
    border-radius: 5px;
    background-color: colors.$light-gray;
    border: none;
    padding: 1px;
    width: 8rem;
    margin: 0;
    height: 2rem;
    color: colors.$gray;
    transition: all 0.3s linear;
    &:hover {
      background-color: colors.$magenta-color;
      color: colors.$white;
    }
  }
}

.headerContainer button.active {
  background-color: colors.$magenta-color;
  color: colors.$white;
}
