@use "../sass/abstracts/colors";
@use "../sass/abstracts/mixins" as *;
.main {
  margin: 1rem;
  display: block;
  h1 {
    margin: 1rem 1rem 1rem 1rem;
  }
}

.headerContainer {
  @include flex-center(flex-start);
  gap: 0;
  button {
    // border-radius: 5px;
    background-color: colors.$light-gray;
    border: none;
    padding: 1px;
    width: 8rem;
    margin: 0;
    height: 2rem;
    color: colors.$gray;
    transition: all 0.3s linear;
    &:hover {
      background-color: colors.$magenta-color;
      color: colors.$white;
    }
  }
}

.headerContainer button.active {
  background-color: colors.$magenta-color;
  color: colors.$white;
}

.buttonOrders {
  border-radius: 5px 0 0 5px;
}

.buttonCompleted {
  border-radius: 0 5px 5px 0;
}


@media only screen and (max-width: 610px){
  .headerContainer{
    flex-direction: column;
    gap: .5rem;
  }
}
