@use "../sass/abstracts/mixins" as *;
@use "../sass/abstracts/colors";

.container {
  margin: 2vw;
}

.filterContainer {
  @include flex-center(center, row, flex-end);
  gap: 2rem;
  flex-wrap: nowrap;
  height: auto;
}

.buttonsContainer {
  display: none;
  padding: 0 1rem;
  > button {
    @include flex-center;
    width: fit-content;
    background-color: colors.$white;
    margin: 0.7rem;
    color: colors.$gray;
    width: fit-content;
    span {
      @include flex-center;
      width: 100%;
      font-size: 11px;
    }
  }
}

.clearFilter {
  border: none;
}

.showFilter {
  border: 1px solid colors.$gray;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) and (min-width: 601px) {
  .filterContainer {
    @include flex-center(flex-start);
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all .4s ease;
    padding: 0.1rem 5rem;
    margin-top: 1rem;
    gap: 1rem;
    opacity: 0;
  }

  .filterContainer.active {
    height: 200px;
    opacity: 1;
  }

  .buttonsContainer {
    @include flex-center(space-between, center);
    padding: 0 5rem;
    > button {
      margin: 1rem 0;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .filterContainer {
    @include flex-center(center);
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 0 .5rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: colors.$white;
    transition: all .4s ease;
    opacity: 0;
  }

  .filterContainer.active {
    height: 125px;
    opacity: 1;
  }

  .buttonsContainer {
    @include flex-center(space-between, center);
    padding: 0 .5rem;
  }
  .container {
    margin: 0;
  }
}
