@use "../sass/abstracts/mixins" as *;

.container {
  margin: 2vw;
}

.filterContainer {
  @include flex-center(center);
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.priceRangeContainer {
  display: flex;
  width: 30%;
  min-width: 200px;
}
.priceRangeContainer h4 {
  color: rgb(149, 149, 149);
  margin: 0 0.7rem 0 0;
  font-weight: 200;
}
.showFilter {
  display: none;
}

@media only screen and (max-width: 685px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .priceRangeContainer {
    width: 90%;
    padding: 0.3rem 0.5rem;
  }
  .priceRangeContainer h4 {
    padding-top: 6px;
  }
  
  .filterContainer {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 0.1rem 0.1rem;
    margin: 0;
    gap: 0.1rem;
  }
  .filterContainer.active {
    display: flex;
    animation: slider 0.5s ease;
    position: relative;
  }

  // .filterContainer {
  //   // position: absolute;
  //   position: relative;
  //   flex-direction: column;
  //   padding: 0.1rem 0.1rem;
  //   margin: 0;
  //   gap: 0.1rem;
  //   display: flex;
    
  //   // top:-100%;
  // }
  // // .filterContainer.active {
  // //   // animation: slider 0.5s ease;
  // //   // top: 0;
  // // }

  .showFilter {
    @include flex-center;
    width: fit-content;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 0.5rem;
    color: gray;
  }
  .showFilter span {
    @include flex-center;
    width: 100%;
  }
}

@keyframes slider {
  from {
    top: -10%;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
