.container {
    margin: 2vw;
}

.filterContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 1rem;
    width: 100%; 
    height: auto;
}
.priceRangeContainer {
    display: flex;
    width: 30%;
    min-width: 200px;
}
.priceRangeContainer h4 {
    color: rgb(149, 149, 149);
    margin: 0 1rem 0 0;
    
}

.showFilter {
    display: none;
}

@media only screen and (max-width: 665px){
    .container {
        display: flex;
        flex-direction: column;
    }
    .priceRangeContainer {
        width: 90%;
        padding: 0.3rem 0.5rem;
    }
    .priceRangeContainer h4 {
        padding-top: 6px;
        
    }
    .filterContainer {
        left:-100%;
        position: absolute;
        display:flex;
        opacity: 0;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0.1rem 0.1rem;
        margin: 0;
        gap: 0.1rem;
        height: auto;
              
    }
    .filterContainer.active {
        left:0;
        animation: slider 0.4s  ease;
        position: relative;
        opacity: 1;
    }
    .showFilter {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: fit-content;
        background-color: white;
        border: 1px solid darkgray;
        border-radius: 10px;
        margin: 0.5rem; 
        color: gray;        
    }
    .showFilter span {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

@keyframes slider {
    from {left: -10%; opacity: 0;}
    to {left: 0; opacity: 1;}
  }
  /* @keyframes sliderRev {
    from {left: 0; opacity: 1;}
    to {left: -1px; opacity: 0;}
  } */

 

