.container {
    margin: 2vw;
}

.filterContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 1rem;
    width: 100%; 
    height: auto;
}
.priceRangeContainer {
    display: flex;
    width: 30%;
    min-width: 200px;
}
.priceRangeContainer h4 {
    color: rgb(149, 149, 149);
    margin: 0 1rem 0 0;
    
}

.showFilter {
    display: none;
}

@media only screen and (max-width: 500px){
    .container {
        display: flex;
        flex-direction: column;
    }
    .priceRangeContainer {
        width: 90%;
        padding: 0.3rem 0.5rem;
    }
    .priceRangeContainer h4 {
        padding-top: 0rem;
        
    }
    .filterContainer {
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0.1rem 0.1rem;
        margin: 0;
        gap: 0.1rem;
        height: auto;
    }
    .filterContainer.active {
        display: flex;
    }
    .showFilter {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: fit-content;
        background-color: white;
        border: 1px solid darkgray;
        border-radius: 10px;
        margin: 0.5rem;
    }
}