@use "../sass/abstracts/mixins" as *;
.main {
  @include flex-center(space-between,row,none);
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

@media only screen and (max-width: 500px) {
  .main {
    justify-content: center;
    margin: 1rem;
  }
}
