@use '../../sass/abstracts/colors';
@use '../../sass/abstracts/mixins' as *;

.mainContainer {
   background-image: url('https://admin.ledikom.mk/uploads/banners/8/1652861506-8.jpg?v=1');
   height: 400px;
   width: 100%;
   @include flex-center(center,column);
   h1 ,h4 {
    color: colors.$white;
    margin: 1rem;
}
}

@media only screen and (max-width: 770px) {
    .mainContainer {
        display: none;
    }
}
