.container {
    height: auto;
    width: 80%;
    min-width: 330px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    padding: 0;
    color: black;
    padding: 1rem;
    margin: 1rem;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info p {
    border: solid 1px rgb(129, 128, 128);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.2rem;
    width: auto;
  }

  .buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .buttonsContainer button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 7rem;
    margin: 0;
    height: 2rem;
    
    margin: 1rem;
  }

  .deleteButton {
    color: red;
    background-color: rgb(245, 237, 237);
    transition: all 0.3s linear;
  }

  .deleteButton:hover {
    color: white;
    background-color: red;
  }

  .completeButton {
    color: rgb(48, 48, 255);
    background-color: rgb(224, 237, 255);
    transition: all 0.3s linear;

  }

  .completeButton:hover {
    color: white;
    background-color: rgb(64, 64, 255);
  }