.a {
  text-decoration: none;
  margin: 0;
  padding: 1rem;
}

.container {
  height: auto;
  max-width: 250px;
  min-width: 100px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  padding: 0;
  color: black;
  padding: 1rem;
}

.container:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}
.dataContainer {
  width: 100%;
}
.priceContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.image {
  height: auto;
  max-height: 220px;
}

.brand {
  color: gray;
  width: 100%;
  height: auto;
  margin: 2%;
}

.model {
  padding: 1%;
  margin: 2%;
  width: 100%;
  height: auto;
}

.price {
  display: inline-block;
  font-weight: bold;
  height: auto;
  width: 50%;
  border-radius: 15px;
  margin: 2%;
}

.priceIcon {
  background-color: rgb(255, 255, 255);
  margin: 2%;
  height: auto;
  padding: 5% 0;
  width: 30%;
  color: black;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(40, 40, 40);
  border: none;
  cursor: pointer;
}

.priceIcon:hover {
  background-color: rgb(255, 0, 255);
  color: white;
}

.more {
  color: rgb(255, 0, 255);
  text-decoration: none;
}

.more:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 20px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (max-width: 610px) {
  .a {
    width: 100%;
    padding: 1%;
  }
  .container {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    max-width: 350px;
    min-width: 100px;
    padding: 5%;
  }
  .dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .image {
    width: 45%;
  }
}
