.container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 1rem;
}


.filterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1rem;
    width: 35%;
    padding: 2rem;
    height: 10vh;
}

.filterContainer h4 {
    padding-bottom: 0;
    margin-bottom: 0.3rem;
}




  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }
    