@use "../sass/abstracts/colors" as colors;
@use "../sass/abstracts/variables" as shadows;
@use "../sass/abstracts/mixins" as *;

.a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  max-width: 250px;
  border-radius: 15px;
  width: 100%;
  background-color: colors.$white;


}

.main {

  max-width: 250px;
  // min-width: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  @include flex-center(space-evenly, column);
  height: auto;
  width: 100%;
  // width: 250px;
  max-width: 250px;
  // min-width: 100px;
  // background-color: colors.$white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  color: colors.$dark-blue;
  padding: 1rem;
  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
  }

}

.dataContainer {
  @include flex-center(center, column);
  width: 100%;
}
.priceContainer,.discount {
  @include flex-center(center);
  gap: 0;
  height: auto;
  width: 100%;
  .price {
    display: inline-block;
    color: colors.$dark-blue;
    height: auto;
    border-radius: 15px;
    margin: 0;
  }
  .discountPrice {
    color: colors.$red;
    margin: 0;
  }
}

.priceContainer::after,.discount::after {
  @include flex-center(center);
  // rotate: -10deg;
  padding: 2px;
  left: 50px;
  top:-235px;
  font-size: .8rem;
  height: 2.3rem;
  width: 2.3rem;
  text-align: center;
  position: relative;
  border-radius:50%;
  // rotate: -35deg;
}
.priceContainer::after {
  content: '';
  color:'transparent';
  background-color: transparent;
}
.discount::after {
  content: attr(percent);
  color: colors.$white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);

  background-color: colors.$red;
}

.image {
  width: 90%;
object-fit: contain;
  aspect-ratio: 1/1;
  height: auto;
  max-height: 220px;
  max-width: 200px;
}

.brand {
  color: colors.$gray;
  width: 100%;
  height: auto;
  margin: 2%;
}

.model {
  text-align: center;
  padding: 1%;
  margin: 2%;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) and (min-width: 611px) {
.a {
  max-width: 200px;
}
.priceContainer::after,.discount::after {
  left: 26px;
  top: -190px;
  font-size: .7rem;
   width: 1.8rem;
   height: 1.8rem;
 }
}

@media only screen and (max-width: 610px) {
  .a {
    max-width: 160px;
  }

  .container {
    font-size: small;
    padding: 1rem 0.2rem;
    margin: 0;
    border: none;
    align-content: stretch;
  }

  .dataContainer {
    @include flex-center(space-around, column);
    flex-wrap: wrap;
  }

  .priceContainer::after,.discount::after {
   left: 26px;
   top:-180px;
   font-size: .7rem;
    width: 1.8rem;
    height: 1.8rem;
  }

  .model,
  .price {
    text-align: center;
  }
}
