@use "../sass/abstracts/colors" as colors;
@use "../sass/abstracts/variables" as shadows;
@use "../sass/abstracts/mixins" as *;

.a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.container {
  @include flex-center(space-evenly, column);
  height: auto;
  width: 100%;
  max-width: 250px;
  min-width: 100px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: colors.$dark-blue;
  padding: 1rem;
  &:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
  }
}

.dataContainer {
  width: 100%;
}
.priceContainer {
  @include flex-center(space-around);
  height: auto;
}

.image {
  height: auto;
  max-height: 220px;
}

.brand {
  color: colors.$gray;
  width: 100%;
  height: auto;
  margin: 2%;
}

.model {
  padding: 1%;
  margin: 2%;
  width: 100%;
  height: auto;
}

.price {
  display: inline-block;
  color: colors.$magenta-color;
  font-weight: bold;
  height: auto;
  width: 50%;
  border-radius: 15px;
  margin: 2%;
}

@media only screen and (max-width: 610px) {
  .a {
    width: 48%;
  }

  .container {
    font-size: small;
    padding: 1rem 0.2rem;
    margin: 0;
    border: none;
    align-content: stretch
  }

  // .container {
  //   flex-direction: row;
  //   justify-content: flex-start;
  //   width: 100%;
  //   padding: 0;
  //   max-width: 350px;
  //   min-width: 100px;
  //   padding: 5%;
  // }
  .dataContainer {
    @include flex-center(space-around, column);
    flex-wrap: wrap;
  }

  .model, .price {
    text-align: center;
  }
  .image {
    width: 90%;
  }
}
