@use '../sass/abstracts/mixins' as *;
@use "../sass/abstracts/colors";


.container {
    @include flex-center(center);    
    background-color: colors.$white;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 2rem;
    padding: 2rem 3rem;
    z-index: 1;
}

.filterContainer {
    @include flex-center (flex-start);
    gap: 1rem;
    width: 35%;
    padding: 2rem;
    height: 10vh;
    h4 {
        padding-bottom: 0;
        margin-bottom: 0.3rem;
    }
}


@media only screen and (max-width: 800px) {
    .container {
        margin-bottom: 1rem;
        padding: 0 ;
        gap: 1rem;
    }
  }
