@use '/src/sass/abstracts/colors';
@use '/src/sass/abstracts/variables';
@use '/src/sass/abstracts/mixins';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");


* {
  box-sizing: border-box;
  // font-size: 15px;
 
  
}

html {
    font-family: "Noto Sans JP", sans-serif;
    
}
body {
    background-color: colors.$white;
    color: colors.$dark-blue;
    margin: 0;
  }

  .hamburger-react {
    width: 100% !important;
  }
  .hamburger-react > div {
    height: 3px !important;
  }
