.valueContainer {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: auto;
  min-width: 10%;
}


.valueShow {
  display: flex;
  justify-content: space-between;
}

.priceRange {
  color:rgb(164, 161, 161);
}

@media only screen and (max-width: 665px) {
  .valueShow {
    width: 100%;
  }

  .valueContainer {
    width: 100%;
  }
}