.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background-color: #131920;
}

.container1 p {
    color: darkgray;
    font-size: small;
}

.container2 {
  background-color: #171e27;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  height: auto;
  color: white;
  padding: 4rem;
}

.logoFooter {
  
  width: 15%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 1rem 0;
}
.footer a {
  color: darkgray;
  text-decoration: none;
  font-size: small;
  padding: 0.5rem 0;
}

.footer h3 {
  padding: 0;
  margin: 0;
}

.footer p {
  color: darkgray;
  font-size: small;
  padding: 0 ;
  margin: 0.5rem 0;
}
.newsletter {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1.00);
  background-color: #131920;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  padding: 3rem;
}

.newsletter p {
  color: darkgray;
  font-size: smaller;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: auto;
}

.inputContainer input {
    font-size: large;
  border: none;
  background-color: white;
  width: 50%;
  height: 50px;
  border-radius: 4px;
}

.inputContainer input:focus {
  
  transition: all 0.3s;
}
.inputContainer button {
  background-color: #131920;
  border: white solid 0.5px;
  width: 20%;
  color: white;
  border-radius: 4px;
  font-size: large;
  transition: all 0.5s;
}

.inputContainer button:hover {
  color: #131920;
  background-color: white;
}


@media only screen and (max-width: 500px){

  .inputContainer {
    flex-direction: column;
    gap: 1rem;
  }
  .inputContainer input {
    width: 15rem;
  }
  .inputContainer button {
    font-size: medium;
    width: 6rem;
    height: 2rem;
  }
  .logoFooter{
    width: 30%;
    
  }
  .container2 {
    flex-direction: column;
  }
  .container2 img {
    width: 50%;
  }
  .container1 p {
    padding: 2%;
  }
}