@use '../index.scss' as index;
@import '../sass/abstracts/mixins';

.button {
  @include flex-center;
  // display:flex;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  width: 6rem;
  height: auto;
  border-radius: 5px;
  margin: 1.2rem;
  font-size: 1rem;
  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  padding: 0.4rem 0;
}

.button.active {
  background-color: index.$magenta-color;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: index.$magenta-color;
  transition: all 0.3s;
}

.span {
  padding: 0rem 1rem;
  font-size: 1rem;
}

@media only screen and (max-width: 500px) {
  .button {
    width: auto;
    margin: 0;
    padding: 8px;
    margin: 0 2px;
    background-color: rgb(50, 50, 50);
  }
}
