@use "../sass/abstracts/mixins" as *;
@use "../index.scss" as index;

.mainContainer {
  @include flex-center(space-between);
  padding: .8rem 4rem;
  background-color: #333;
}

.socialNetworkContainer {
  @include flex-center(space-around);
  gap: 1rem;
  a {
    color: white;
  }
}

.inputContainer {
  @include flex-center(center);
  input {
    height: 1.7rem;
    border: white;
    outline: none;
    border-radius: 5px 0 0 5px;
  }
}



.searchButton {
  @include flex-center(center);
  height: 1.7rem;
  color: white;
  padding: 0 6px;
  margin: 0;
  border-radius: 0 5px 5px 0;
  border: solid 1px index.$magenta-color;
  background-color: index.$magenta-color;
}

@media only screen and (max-width: 500px) {
  .mainContainer {
    display: none;
  }
}
