@use "../sass/abstracts/mixins" as *;
@use '../sass/abstracts/colors';

.mainContainer {
  @include flex-center(space-between);
  
  padding: .8rem 4rem;
  background-color: colors.$dark-gray;
}

.socialNetworkContainer {
  @include flex-center(space-around);
  gap: 1rem;
  a {
    color: colors.$white;
  }
}




@media only screen and (max-width: 611px) {
  .mainContainer {
    display: none;
  }
}
